html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.alert{
	background: url('../images/arrow.gif') no-repeat;
	padding: 10px 0 0 56px;
	display:none;
	font-size: 14px;
	margin-left: 3px;
}

body {
	font: 18px/27px 'Open Sans', Arial, sans-serif;
	overflow-x : hidden;
	
}

.bg img{
	position: absolute;
	width: 150%;
	min-width: 588px;
	left: -20%;
}

@media screen and (max-width:800px){
	.bg img{
		width: 100%;
	}
}

h2{
	font-size: 0.85em;
	font-weight: 700;
}

.spliter{clear: both;}

.pageContainer {
	margin: 30px auto 0;
	max-width:800px;
	min-width: 300px;
	position: relative;
}

	.pageHeader .logo{
		float: left;
		margin-left:10px;
		position: relative;
	}

	.pageContainer .mainNav{
		float: right;
		margin-top:12px;
	}

	.pageContainer .mainNav li{
		display: block;
		float: left;
		position: relative;

	}
	
	.pageContainer .mainNav li a{
		display: block;
		padding:7px 10px;
		margin-left:5px;
		font-size:0.73em;		
		-webkit-transition: background-color 350ms;
		-moz-transition	  : background-color 350ms;
		-ms-transition	  : background-color 350ms;
		-o-transition	  : background-color 350ms;
	}
	
	
	
	.pageContainer .mainNav li a:hover{
		background-color: #f2f2f2;
	}
	
	.pageContainer nav li a{
		text-decoration: none;
		color:black;
	}
	
	.pageContainer .calloutSection .callout {
		width:100%;
		background-color: #fbfbfb;
		border: solid 1px #EEE;
	}
	
		.pageContainer .calloutSection .calloutText{
			text-align: center;
			padding: 30px 30px 0;
			font-size: 1em;
			font-weight: 300;
			line-height: 160%;
		}
		
		.pageContainer .calloutSection .calloutButton , .subfooter .more-btn{
			cursor:pointer;
			
			display: block;
			
			-moz-box-shadow:	inset 0px 1px 0px 0px #85c6f1;
			-webkit-box-shadow:	inset 0px 1px 0px 0px #85c6f1;
			box-shadow:			inset 0px 1px 0px 0px #85c6f1;
			
			background:			-webkit-gradient( linear, left top, left bottom, color-stop(0.35, #359fe6), color-stop(1, #2d91db) );
			background:			-moz-linear-gradient( center top, #359fe6 35%, #2d91db 100% );
			
			background-color:	#63b8ee;
			
			-moz-border-radius:		4px;
			-webkit-border-radius:	4px;
			border-radius: 4px;
			border: 1px solid #3866A3;
			text-decoration: none;
			color: white;
			font-size: 0.73em;
			font-weight: 400;
			padding: 6px 24px;
			text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
			position: relative;
			left: 50%;
			width: 70px;
			margin: 20px 0 20px -60px;
		}
		
		.subfooter .more-btn{
			margin: 25px;
			padding: 4px 18px;
			left: 50%;
			margin-left: -65px;
			width: 95px;
		}
		
	
	/* footer */
	
	.footer{
		border-top:solid 1px #CCC;
		height:60px;
		font-size:0.73em;
	}
	
	.footer .footerNav li{
		float: left;
		margin:10px 0 0;
	}
	
	.footer .footerNav .navsp {
		border-right: solid 1px black;
		float: left;
		margin: 16px 10px 0;
		height: 15px;
	}
	
	.footer .footerNav li a:hover{
		text-decoration: underline;
	}
	
	.footer p{
		float: right;
		margin-top:11px;
		font-size:11px;
	}
	
	.footer nav {
		margin-left: 10px;
	}
	
	#slider-wrapper{
		position: relative;
		height:100%;
	}

	
	@media screen and (max-width: 520px){
		
		.footer p {
			width: 227px;
			margin: 0 auto;
			float:none;
		}
		
		.footer nav {
			margin: 0 auto;
			position: relative;
			width: 267px;
		}
		
		.package{
			display:none !important;
		}
	}

	@media screen and (max-width: 500px){
		.pageHeader h1{
			margin: 0 auto;
			width: 167px;
		}
		
		.pageHeader .mainNav{
			margin: 0 auto;
			width: 344px;
			float:none;
		}
		
		.pageHeader .logo{
			float: none;
		}
	}